<a href="https://colab.research.google.com/github/siberbot88/Python-Learning/blob/main/Belajar_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Belajar Python Pemula**

Bersama *siberbot88* mengenali berbagai program python untuk pemula.
Python adalah bahasa pemrograman multifungsi yang dirilis pada tahun 1991 oleh Guido van Rossum (GvR). Beliau membuat Python sebagai bahasa pemrograman yang mudah dibaca dan dimengerti (readable) serta memiliki kemampuan penanganan kesalahan (exception handling). Berdasarkan tujuan tersebut, Guido van Rossum berhasil  menjadikan Python sebagai bahasa pemrograman yang dapat diimplementasikan ke dalam berbagai sektor. Python dapat digunakan untuk membangun website (server-side), analisis data, hingga pembelajaran mesin (machine learning).

**Membuat Print pada python**

In [2]:
print('Hello world')

Hello world

**Mengenal Type data pada Python**


1.   Tipe data primitif
2.   Tipe data Collection

**1. Tipe data Primitif**


*   Integer
*   Float
*   Complex
*   String

In [5]:
# Ini contoh Integer
a = 5
print(a)

# ini contoh Float
a = 5.5
print(a)

# Ini contoh Complex
a = 5+5j
print(a)

# Ini contoh String
a = 'Hello World'
print(a)

# ini contoh formatted string
name = 'siberbot88'
print(f'Hello {name}')

# ini contoh % formatting
name = 'siberbot88'
print('Hello %s' %name)

# ini contoh str.format()
name = 'siberbot88'
print('Hello {}'.format(name))

5
5.5
(5+5j)
Hello World
Hello siberbot88
Hello siberbot88
Hello siberbot88

**Tipe data collections**


*   List
*   Tuple
*   Set
*   Dictionary

In [11]:
# ini adalah contoh List
a = [1,2,3,4,5]
print(a)

# ini adalah contoh Tuple
a = (1,2,3,4,5)
print(a)

# ini adalah contoh Set
a = {1,2,3,4,5}
print(a)

# indeks pada List
a = [1,2,3,4,5]
print(a[0])

# indeks pada Tuple
a = (1,2,3,4,5)
print(a[3])

# ini adalah contoh slicing
a = ['Laptop', 'Smartphone', 'Buku', 'Mouse', 'Keyboard', 'Monitor']
print(a[0:3])
print(a[3:])
print(a[:3])
print(a[0:3:2])

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
1
4
['Laptop', 'Smartphone', 'Buku']
['Mouse', 'Keyboard', 'Monitor']
['Laptop', 'Smartphone', 'Buku']
['Laptop', 'Buku']

**Union dan Intersection pada set**

In [12]:
# contoh melakukan union
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
print(set1.union(set2))


# contoh melakukan Intersection
print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

**Dictionary pada python**

In [13]:
# Contoh Dictionary pada python

x = {'Name':'siberbot88', 'Age':20}
print(x)
print(x['Name'])
print(x['Age'])

{'Name': 'siberbot88', 'Age': 20}
siberbot88
20

**Konversi tipe data**

In [14]:
# contoh konversi String
print(str(25))

# cintih konversi integer
print(int('25'))

# contoh konversi float
print(float(25))

25
25
25.0

**Konversi ke Dictionary**

In [15]:
# contoh konversi ke dictionary
print(dict([(1,2),(3,4)]))

{1: 2, 3: 4}